@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
}

.font-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.font {
  font-family: 'Montserrat', sans-serif;
}
